.iconContainer{
    width: 40%;
    padding-right: 1rem;
    text-align: right;
    display: inline-block;
    vertical-align: top;
}
.textContainer{
    width: 40%;
}
#datePers .iconContainer{
    font-size: 2rem;
}
#datePers img:not(#picture){
    margin-left: 2rem;
}