.iconContainer{
    padding-right: 1rem;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
#datePers .iconContainer{
    font-size: 0rem;
}
.textContainer{
    width: 60%;
}