body{
    font-family: Ubuntu ;
}
.unselectable{
    user-select: none;
}
.center{
    text-align: center;
}
.textContainer{
    display: inline-block;
    background-color: red;;
    width: 50%;
    text-align: left;
    padding-left: 1rem;
}
#datePers img{
    height: 2rem;
}
#datePers .row{
    padding: 1rem 0;
}
