body{
    background-image: url("bg.svg");
    background-attachment: fixed;
    font-family: Ubuntu ;
}
.unselectable{
    user-select: none;
}
.center{
    text-align: center;
}
.textContainer{
    display: inline-block;
    /* background-color: red; */
    text-align: left;
    padding-left: 1rem;
}
#datePers img{
    height: 2rem;
    vertical-align: bottom;
}
#datePers .row{
    padding: 1rem 0;
}
#datePers .iconContainer{
    color: #add;
    line-height: 2rem;
    /* background-color: lime; */
}