body{
    background-image: url("bg.svg");
    background-attachment: fixed;
    font-family: Ubuntu;
}
.unselectable{
    user-select: none;
}
.center{
    text-align: center;
}
.textContainer{
    display: inline-block;
    /* background-color: red; */
    text-align: left;
    padding-left: 1rem;
}
.rightsText{
    display: none;
}
#datePers img:not(#picture){
    height: 2rem;
    vertical-align: bottom;
}
#datePers .row{
    padding: 1rem 0;
}
#datePers .iconContainer{
    color: rgb(59, 138, 138);
    line-height: 2rem;
    /* background-color: lime; */
}
#copyrights img{
    width: 1rem;
    height: 1rem;
    cursor: help;
}
#copyrights::before{
    height: 100px;
    width: 200px;
    display: block;
    content: "";
}
#picture{
    margin-top: 2rem;
    border-radius: 50%;
    width: 12rem;
}
#mda{
    display: inline-block;
    /* background-color: red; */
    max-width: clamp(50vw, 350px, 80vw);
}
